--- ---
// add bootstrap variable settings here
@import 'bootstrap';
// add more css stuff here
body {
    padding-top: 50px;
    font-family: 'Open Sans', 'Raleway', sans-serif;
    font-weight: 300;
}

.content {
    padding: 40px 15px;
}

// Timeline
@import 'timeline'