<style>
    html {
        background-color: black;
        color: white;
    }

    .entry-list {
        border: 1px solid white;
    }

    .entries {
        list-style-type: none;
        padding-bottom: 90;
    }

    .entries li {
        margin: 0 0 0 -20;
    }

    .selected {
        background-color: white;
        color: black;
        margin: 0 10 0 -30 !important;
        padding: 0 0 0 10;
    }
</style>

<div class="display">
    <div class="entry-list">
        <ul class="entries">
            <li class="selected">GNU/Linux, kernel 2.6.22-10-generic</li>
            <li>GNU/Linux, kernel 2.6.22-10-generic  (recovery mode)</li>
            <li>GNU/Linux, kernel 2.6.20-16-generic</li>
            <li>GNU/Linux, kernel 2.6.20-16-generic  (recovery mode)</li>
            <li>GNU/Linux, kernel 2.6.20-15-generic</li>
            <li>GNU/Linux, kernel 2.6.20-15-generic  (recovery mode)</li>
            <li>GNU/Linux, memtest86+</li>
        </ul>
    </div>
    <pre class="instructions">
    Use the &uarr; and &darr; keys to select which entry is highlighted.
    Press enter to boot the selected OS, 'e' to edit the
    commands before booting, or 'c' for a command-line.
    </pre>
</div>
