<style>
    html {
        background-color: black;
        color: white;
    }
    .highlight {
    	background-color: white;
	color: black;
	padding: 0 10 0 0;
    }
    .nav {
    	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    }
    .nav li {
    	float: left;
	padding: 0 20;
    }
    .panel {
    	width: 49.5%;
	border: 1px solid white;
	padding: 0 0 400 0;
    }
    .left {
    	float: left;
    }
    .right {
        float: right;
    }
    .bottom {
    	clear: both;
    }
    @-webkit-keyframes blinker {
        from {opacity: 1.0;}
        to {opacity: 0.0;}
    }
    .blink {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.6s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction: alternate;
    }
</style>

<div class="display">
    <ul class="nav">
        <li>Left</li>
        <li>File</li>
        <li>Command</li>
        <li>Options</li>
        <li>Right</li>
    </ul>
    <div class="left panel">
    	<p class="title">< /var <span class="right">v></span></p>
    	<p class="description">Name Size MTime</p>
<table class="tree">
  <tr>
    <th>/..</th>
    <th>384</th>
    <th>Sep 8 17:59</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>
    <div class="right panel">
    	<p class="title">< /etc <span class="right">v></span></p>
<table class="tree">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>
    <div class="bottom nav">
    	<p class="prompt">[lramage@website /var]$&nbsp; <span class="blink">&#9608;</span><span class="right">[^]</span></p>
	<ul class="nav">
	    <li>1<span class="highlight">Help</span></li>
	    <li>2<span class="highlight">Menu</span></li>
	    <li>3<span class="highlight">View</span></li>
	    <li>4<span class="highlight">Edit</span></li>
	    <li>5<span class="highlight">Copy</span></li>
	    <li>6<span class="highlight">RenMov</span></li>
	    <li>7<span class="highlight">Mkdir</span></li>
	    <li>8<span class="highlight">Delete</span></li>
	    <li>9<span class="highlight">PullDn</span></li>
	    <li>10<span class="highlight">Quit</span></li>
	</ul>
    </div>
</div>


