---
layout: base
---
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="brand-heading"><span class="typed">[Hello World]</span></h1>
		    <p class="intro-text">{{ site.description }}</p>
                </div>
            </div>
        </div>
    </div>
</header>
