<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <hr>
                <div class="footer-col col-md-4">
                    <h3>Connect</h3>
                    <p><i class="fa fa-fw fa-envelope-o"></i>&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
                        <i class="fa fa-fw fa-hashtag"></i>&nbsp;<a href="{{ site.freenode }}">{{ site.irc }}</a>
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Social</h3>
                    <ul class="list-inline">
                        {% for location in site.social %}{% if location[1] %}
                        <li>
                            <a class="btn-social btn-outline" href="{{ location[1] }}" target="_blank">
                                <i class="fa fa-fw fa-{{ location[0] }}"></i>
                            </a>
                        </li>
                        {% endif %}{% endfor %}
                    </ul>
                </div>
                <div class="footer-col col-md-4" id="tags">
                    <h3>Tags</h3>
                    <div>
                        <canvas id="tagcloud">
                                <ul>
                                {% for keyword in site.data.keywords %}
                                    <li>
                                        <a href="{{ keyword.url }}">{{ keyword.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navbar-brand footer-copyright">
                        Copyright&nbsp;&copy;&nbsp;{% assign thisyear = site.time | date: "%Y" %}{% 
                            if site.first_published %}{% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}{%
                                if diff contains '-' %}{{ site.first_published }}&nbsp;-&nbsp;{% endif %}{% endif %}{{ thisyear }}{% 
                                    if site.owner %}&nbsp;{{ site.owner }}{% else %}{{ site.title }}{% endif %}. Some Rights Reserved.
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% for link in site.nav.footer %}
                            <li>
                                <a href="/{{ link | downcase }}">{{ link }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-scroll">
                            <a href="{{ site.plus }}"><i class="fa fa-plus"></i></a>
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
</footer><!--
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top"><i class=
        "fa fa-chevron-up"></i></a>
</div>-->
