<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" name="description">
    <meta content="{% if page.categories %}{{ page.categories | array_to_sentence_string }}{% else %}{% for keyword in site.data.keywords %}{{ keyword.title }},{% endfor %}{% endif %}" name="keywords">
    <meta content="{{ site.author }}" name="author">
    <meta content="{{ site.color }}" name="theme-color">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="author" href="{{ site.social.google-plus }}"/>
    <link href="{{ "/css/vendor/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/vendor/jasny-bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/portfolio.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" integrity="sha256-MGU/JUq/40CFrfxjXb5pZjpoZmxiP2KuICN5ElLFNd8=" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400' rel='stylesheet' type='text/css'>
    <link href="{{ "favicon.ico" | absolute_url }}" rel="icon" type="image/ico">
</head>
