<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% for link in site.nav.header %}
                <li>
                    <a href="/{{ link | downcase }}">{{ link }}</a>
                </li>
                {% endfor %}
                <!--<li>
                    <a class="page-scroll" href="javascript:portfolio.search()"><i class="fa fa-search"></i></a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
