<!-- JQuery -->
<script src="{{ "js/vendor/jquery.min.js" | absolute_url }}"></script>

<!-- Bootstrap Core Javascript -->
<script src="{{ "js/vendor/bootstrap.min.js" | absolute_url }}"></script>

<!-- Plugin Javascript -->
<script src="{{ "js/vendor/jasny-bootstrap.min.js" | absolute_url }}"></script>
<script src="{{ "js/vendor/cbpAnimatedHeader.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "js/vendor/classie.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "js/vendor/jquery.tagcanvas.min.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "js/vendor/typed.min.js" | absolute_url }}" type="text/javascript"></script>

<!-- Custom Javascript -->
<script src="{{ "js/portfolio.js" | absolute_url }}" type="text/javascript"></script>
