---
layout: page
---
<p>{{ post.date }}</p>

{{ content }}

<div class="post_nav">
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}


<span class="license">This post is licensed under a 
<a href="http://creativecommons.org/licenses/by-sa/4.0/" ref="license">
Creative Commons Attribution-ShareAlike 4.0 International License</a>
</span>

</div>

<!-- {{ post.last_modified_at }} -->

<style>
    .post_nav {
        margin-top: 100px;
    }

    .post_nav .license {
        display: block;
        text-align: center;
	}

    .post_nav .prev {
        float: left;
    }

    .post_nav .next {
        float: right;
    }
</style>
